@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
/* resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {

  --font-display: "Poppins", "sans-serif";
  --font-body: "Roboto", "sans-serif";

  --color-primary-blue: #1E3A8A;
  --color-secondary-blue: #2563EB;
}
@layer base {
  body {
    @apply font-body text-[#111827] bg-[#f3f4f6];
  }
}
